.tablestyle{
margin:auto;
margin-top: 20px;
width: 846px;
background-color:rgba(105, 74, 71, 0.5); 
}

.numbers{
    padding-left:10px ;
    padding-top:10px;
    font-size: 14px;
    font-weight: bold;
}
article{
    height: 104%;
}
.lefts{
   
    height: 150px;
    width: auto;
}
.message{
margin:auto;
margin-top: 20px;
background-color:rgba(105, 74, 71, 0.5); 
border-spacing:10px 30px ;
border: 0px;
padding: 0px;
}
.message td{
    border: 0px;
    margin: 0px;
    border-bottom:1px whitesmoke solid ;
}
.headm{
height: 100px;
width: 100px;
background: url(../img/man.png) no-repeat center 0;
}
.rights{
    height: 150px;  
    width: 700px;
    margin-left: 12px;
    border: 0px;
}


.content{
    margin-top: 10px;
    text-indent:28px;
    font-size: 14px;
}
.headw{
    height: 100px;
    width: 100px;
    background: url(../img/woman.png) no-repeat center 0;
}
.names{
    font-size: 16px;
    color: khaki;
}
textarea{
    resize: none;
}
.sub{
   float: right;
    
    cursor: pointer;
}